 /*app.css file*/
h1 {
    margin-left: 20;
    font-size: 40
}

a {
    margin-left: 10;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    font-size: 25
}

li {
    list-style-type: none;
    margin-top: 10
}

p {
    font-size: 18
}
.leftSec{
    float: left;
    width: 50%;
    padding: 5px;
}
.rightSec{
    float: right;
    margin-left: 50%;
    padding: 5px;
}
img{
    max-width: 100%;
}
@media () {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    color: #000000;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    color: #000000;
    display: block;
  }
  .sidebar-nav .navbar li a {
    color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.tab-good{
    background: #29E83C;
    opacity: 50%;
}
.tab-bad{
    background: #FF392C;
    opacity: 50%;
}
.tab-med{
    background: #FFF125;
    opacity: 50%;
}
#uploader{
    -webkit-appearance: none;
    width: 50%;
    margin-bottom: 10px;
}
.col-left{
    width: 20%;
    float: left;
}
.col-div{
    width: 80%;
    float: right;
}
.leftC{
    float: left;
    width: 50%;
    height: 100%;
}
.rightC{
    margin-left: 50%;
    width: 50%;
    height: 100%;
}